<!DOCTYPE html>
<html lang="ro">
    <head>
        <title><%= titlu %></title>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main id="pagina-eroare">
            <section class="eroare">
                <h1><%= titlu %></h1>
                <p><%= text %></p>
                <% if (imagine) { %>
                    <img src="<%= imagine %>" alt="Eroare" />
                <% } %>
                <p><a href="/">Revenire la pagina principală</a></p>
            </section>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>
